<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" 
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
</head>
<style>
    
</style>
<body>
   <div class="container">
    
    <nav class="navbar navbar-expand-lg shadow p-3 mb-5 bg-body rounded" id="navbar">
        <h1 class="navbar-brand bold"><img src="logo.png" alt="" width="60px">Happy Home</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
              </svg>
        </button>
    <div class="collapse navbar-collapse" id="menu">

        <ul class="navbar-nav ms-auto  ">
            <li class="nav-item">
                <a class="nav-link" href="#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  href="#service">Service</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#projects">Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="product.html">Product</a>
            </li>
            {{!-- <li class="nav-item">
                  <a class="nav-link" href="/signup">Signup</a>
            </li> --}}

            {{!-- <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
            </li> --}}
            
            
        </ul>
    </div>
</nav>
<!---------------------------------------------------------------------home-->
    <section class="home-section" id="home">
      
        <div class="row">
            <div class="col-lg-6 order-1">
                <h1 class="display-4 ">Hello Engineer!</h1>
                <div class="typ ">
                    <h3>Build Your Own <span style="color: rgb(6, 141, 96);">House..</span></h3>
                  </div>
                <p>
                  ABOUT<br>
                  Over the years, our company has become one he leading construction firms in the country.
                  
                  We have earned our reputation through hard work, uncompromising precision and constant learning and adapting. We love what we do, and the variety of projects on our portfolio proves the scope of our engineering and execution capabilities.</p>
                    <button type="button" class="btn btn-outline-success">Learn more</button>
            </div>
            <div class="col-lg-6 order-sm-1">
                <img class="img-fluid" src="img2.jpg" alt="image">
                
            </div>
        </div>
      </section>
      

    
        <div class="row acheivements">
          <div class="col-lg-4 col-md-6 order-1 border border-5 border-success mx-30px">
            <h3>2023</h3>
            <p style="color: #298754;">
              year established
            </p>
          </div>
          <div class="col-lg-4 col-md-6 order-1">
            <h3>30</h3>
            <p style="color: #298754;">
              projects completed
            </p>
          </div>
          <div class="col-lg-4 col-md-6 order-1">
            <h3>500+</h3>
            <p style="color: #298754;"> employee</p>
          </div>
        </div>
   
        
  
    

   

   
    <!--------------------------------------------------------------------service---->
    

    <section id="service">
      <div class="view">

        <div class="section_name border border-success rounded-pill px-5 bg-success mx-auto" style="width: 200px;">  
          <h3 >Service</h3>
         </div>

         <div class="row ">
  
         <div class="col-lg-4 col-md-4  mb-sm-5">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="img1.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-success bg-light">Preconstruction Planning</h5>
              <p class="card-text">Preconstruction planning is crucial for the success of your project. Our professionals prepare precise cost estimates,timelines that meet your requirements.</p>
              
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-4 mb-sm-5">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="img2.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-success bg-light">Architectural<br>
                 Modelling</h5>
              <p class="card-text">Architectural modelling will make your design process faster, easier and much cheaper. We offer cutting edge modelling techniques - call us today for more information.</p>
              
            </div>
          </div>
        </div>
  
  
        <div class="col-lg-4 col-md-4 mb-sm-5">
          <div class="card shadow" style="width: 18rem;">
            <img class="card-img-top" src="img3.webp" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title text-success bg-light">Construction 
                Management</h5>
              <p class="card-text">We offer outstanding construction management services that keep costs low, improve the quality of your project and maintain on-site efficiency. </p>
             
            </div>
          </div>
        </div>
      </div>


      </div>
      
       
      
    </section>
    
<!-----------------------------------------------------------------------------PROJECTS------->

     <section id="projects">
      <div class="view">
      <div class="section_name border border-success rounded-pill px-5 bg-success mx-auto" style="width: 200px;">  
        <h3>Projects</h3>
      </div>
      
      <div class="row ">
        
          <div class="image-container col-lg-6">
            <img src="project_img1.jpg" alt="" width="400px" height="305px">
            <div class="overlay ">
              <div class=" projectname ">
                <h4 class="text-center" ><a href="project1.html">project 1</a></h4>
                <p class="text-center">Duplex in san fransisco</p>
              </div>
            </div>
          </div>
        
        
          <div class="image-container col-lg-6">
            <img src="project_img2.jpg" alt="" width="400px" height="305px">
            <div class="overlay">
              <div class=" projectname ">
                <h4 class="text-center" >project 2</h4>
                <p class="text-center">resort in chennai</p>
              </div>
            </div>
          </div>
        
      </div><br><br>
      
      <div class="row ">
        
          <div class="image-container  col-lg-6">
            <img src="project_img3.webp" alt="" width="400px" height="305px">
            <div class="overlay">
              <div class=" projectname ">
                <h4 class="text-center" >project 3</h4>
                <p class="text-center">Duplex in san fransisco</p>
              </div>
            </div>
          </div>
        
        
          <div class="image-container col-lg-6">
            <img src="project_img4.jpg" alt="" width="400px" height="305px">
            <div class="overlay">
              <div class=" projectname ">
                <h4 class="text-center" >project 4</h4>
                <p class="text-center">Duplex in san fransisco</p>
              </div>
            </div>
          </div>
        </div>
        <div class="back_button">

          <a href="project1.html"><button type="button" class="btn btn-outline-success">Learn more</button></a>
        </div>
      </div> 
    </div>

    
    </section> 
    
     

    
     <!---------------------------------------------------registration-->
     
      <section id="register" >
        <div class="view">

          <div class="section_name border border-success rounded-pill px-5 bg-success mx-auto" style="width: 200px;">  
            <h3>Register</h3>
           </div>


          <div class="row">

            <div class="col-lg-6 order-sm-1">
                <img class="img-fluid moving-image" src="https://cdni.iconscout.com/illustration/premium/thumb/online-sign-up-4489361-3723268.png" alt="image" width="450px" height="450px">  
            </div>

            <div class="col-lg-6  col-md-12 order-1">
                <h1 >Sign up to join as a member</h1>
                <p>Become a part of us by enrolling</p><span> <a href="/signup" target="_blank"><button type="button" class="btn btn-outline-success">join</button></a></span>
                   
            </div>

        </div>
        




        </div>
        
      </section>
    <!------------------------------------------------------------sponser-->
   
    <footer class="footer-dark bg-dark bgimg ">

      <div class="container pb-5">
          <div class="row">
              
              <div class="col-sm-12 col-md-2 col-lg-4 ">
                  <ul>
                      <li><a href="https://medishala.com/about" title="About Us">Catch up</a></li>
                      <li><a href="https://medishala.com/contact" title="Contact">Contact:91+123456789</a></li>
                      <li><a href="mailto:webmaster@example.com" title="Team">mail to office</a></li>
                      <li><a href="https://medishala.com/career" title="Career">office address</a></li>
                  </ul>
              </div>
              <div class="col-sm-12 col-md-2 col-lg-4 ">
                <ul>
                    <li><a href="https://medishala.com/about" title="About Us">Clients</a></li>
                    <li><a href="https://medishala.com/contact" title="Contact">TIPOX</a></li>
                    <li><a href="mailto:webmaster@example.com" title="Team">EXCIPIA</a></li>
                    <li><a href="https://medishala.com/career" title="Career">DEHOTEL</a></li>
                </ul>
            </div>
            
               
              <div class="col-sm-12 col-md-2 col-lg-4 ">
                  <ul>
                      <li><a href="https://www.facebook.com/medishalaportal" target="_blank"><i class="fa-brands fa-facebook"></i>Facebook</a></li>
                      <li><a href="https://www.youtube.com/c/Medishala" target="_blank"><i class="fa-brands fa-youtube"></i>Youtube</a></li>
                      <li><a href="https://www.instagram.com/medishalaportal/" target="_blank"><i class="fa-brands fa-instagram"></i>Instagram</a></li>
                      <li><a href="https://www.linkedin.com/company/medishala/" target="_blank"><i class="fa-brands fa-linkedin"></i>Linkedin</a></li>
                  </ul>
              </div>
                <h1>hello</h1>
              <div class="container text-center">
                <p style="color: aliceblue;">&copy; 2023 HAPPY HOME. All rights reserved.</p>
            </div>
          </div>
      </div>
    </footer>
   
    <!-- <div class="ref" id="help">

      <div class="contact">
        <img src="man.jpg" alt="">
      </div>

        <div class="extra ">
          <i class="fa-solid fa-envelope fa-bounce fa-3x  " ></i>
          <i class="fa-brands fa-facebook fa-bounce fa-3x "></i>
          <i class="fa-brands fa-instagram fa-bounce fa-3x "></i>
          <i class="fa-brands fa-whatsapp fa-bounce fa-3x b"></i>
        </div>


    </div> -->


  
   
<!-----------------------------------------------------copy rights--------------------->
    
   
   <!-- <div class="sponser " >
    
      <div class="spo">
        <h5>PHILIPS</h5>
      </div>
      <div class="spo">
        <h5>GROW</h5>
      </div>
      <div class="spo">
        <h5>TMT</h5>
      </div>
      
  </div>
   -->

    
   
   
    
    
        
    </div>

   
   
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>