<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<style>
    /* Reset some default browser styles */
   body, h1, h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

h3 {
    color: #555;
    font-size: 16px;
    margin-top: 10px;
}

a {
    text-decoration: none;
    color: #3498db;
    font-weight: bold;
}

a:hover {
    color: #1f77d0;
}

</style>
<body>

    <h1>Login Form</h1>

    <form action="/login" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
     <h3>Dont have a account ?</h3>
    <a href="/signup">Create a new account</a>
    </form>


    
</body>
</html>