{{!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="css/login.css">
</head>
<body>
    
<h1>Sign Up</h1>

    <form action="/signup" method="post" >
        <input placeholder="Name" name="name" type="text">
        <br>
        <input placeholder="Password" name="password" type="password">
        <br>
        <input class="sub" type="submit">
    </form>

       <a href="/">Go back to login page</a>

</body>
</html> --}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/login.css">
</head>

<body style="font-family: Arial, sans-serif; background-color: #f0f0f0; text-align: center; margin: 0; padding: 0;">

    <h1 style="background-color: #3498db; color: #fff; padding: 20px;">Sign Up</h1>

    <form action="/signup" method="post" style="background-color: #fff; padding: 20px; width: 300px; margin: 0 auto; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <input placeholder="Name" name="name" type="text" style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 3px;">
        <br>
        <input placeholder="Password" name="password" type="password" style="width: 100%; padding: 10px; margin: 10px 0; border: 1px solid #ccc; border-radius: 3px;">
        <br>
        <input class="sub" type="submit" style="background-color: #3498db; color: #fff; border: none; padding: 10px 20px; border-radius: 3px; cursor: pointer;">
    </form>

    <a href="/" style="text-decoration: none; color: #3498db; font-weight: bold;">Go back to login page</a>

</body>
</html>
