@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;800&display=swap');
/* // Source mixin */
@mixin make-container($padding-x: $container-padding-x) {
  width: 100%;
  padding-right: $padding-x;
  padding-left: $padding-x;
  margin-right: auto;
  margin-left: auto;
}

/* // Usage */
.custom-container {
  @include make-container();
}

*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
  
}
.bold{
    font-size: 25px;
}
.nav-link{
    font-size: 20px;
    color: rgb(6, 6, 6);
}
.nav-item:hover .nav-link{
   border-bottom: 5px solid rgb(69, 171, 69);
   transition: .1s;
}
li{
    padding: 5px;
}
.display-4{
    font-family: Arial, Helvetica, sans-serif;
}
section{
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}


#navbar{
    position:sticky;
    top: 0;
    background-color: white;
    z-index: 10;
}



.typ{
    /* display: flex; */
    position: relative;


     justify-content: center;
     align-items: center;
     max-width: fit-content;
    
}
.typ h3::before,.typ h3::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.typ h3::before{
    background-color: white;
    animation:typewriter 4s steps(20) forwards;
    
}
.typ h3::after{
    width: 0.125em;
    background-color: black;
    animation:typewriter 4s steps(20) forwards,blink 550ms  steps(20) infinite;

    
}
@keyframes typewriter {
    to{
        left: 100%;
    }
}
@keyframes blink {
    to{
        background: transparent;
    }
}
.ref{
    display: flex;
}
.extra{
   
    display: none;
}
.contact{
    opacity: 1;
}
.show{
    display: block; 
}
.hide{
    width: 100px;
    transition: 1s;
    margin-right: 10px;
    animation-name: move;
    animation-duration: 2s;
}
.sponser{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
i{
    margin-right: 30px;
}
a{
    color: white;
    list-style-type: none;
    text-decoration: none;
}

.section_name{
    margin-bottom: 50px;
    display: block;
    color: rgb(249, 250, 249);
    /* background: linear-gradient(45deg, rgb(252, 251, 251), rgb(250, 249, 249)); */
    background: linear-gradient(45deg, #009245 , #fed30b);
    
}
.view{
    position: relative;
    top: 130px;
}
/* Define a keyframes animation called 'moveUpDown' */
@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0); /* Initial and final positions (no movement) */
    }
    50% {
        transform: translateY(-10px); /* Move 5 pixels up at 50% of the animation */
    }
}

/* Apply the animation to the 'moving-image' class */
.moving-image {
    animation: moveUpDown 1s ease-in-out infinite; /* Animation name, duration, timing function, and repeat */
}
/* Add this CSS to your stylesheet or in a <style> block in your HTML file */
/* /* .img-container:hover img {
    opacity: 0.7; /* Adjust the opacity as per your preference */
/* Add this CSS to your stylesheet or in a <style> block in your HTML file */
.image-container {
    position: relative;
  }
  
  .image-container .overlay {
    position: absolute;
    padding: 0px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as per your preference */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
   .image-container:hover .overlay {
    opacity: 1;
  }
  .image-container .overlay .projectname{
    position: relative;
    top: 150px;
    color: white;
  }
  footer{
    height: 30%;
    max-height: 300px;
    overflow: scroll;
    position: relative;
    top: 100px;
  }
  .home-section .row .details{
    display: block;
    background-color: #fed30b;
    width: 100px;
    height: 100px;
  }
  .acheivements{
    display: flex;
   justify-content: space-around;
    background-color: 
    #cecdd5;
    color: white;
  }
.project_name{
    border-bottom: 4px solid  #fed30b;
    width: max-content;
}
  .project_view{
    width: 70%;
  }
  .project_content{
    margin-top: 50px;
  }
 
 .project_header{
    margin-top: 150px;
 }
.back_button{
    margin-top: 50px;
}
.colored_text{
    color: rgb(6, 141, 96);
    font-weight: 100;
  }